<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>new-tab</title>
<!--     <link src="{{ url_for('static', filename='../static/pride.js') }}"> -->
<link rel= "stylesheet" type= "text/css" href="../static/studyWeek.css">
</head>
<body>

    <div id="notes">
        <header>
            <div id="underline">
                <h1 id='title'>Notes</h1>
            </div>
        </header>
<!-- Start note template -->

<!-- Note: Button formacation isn't working. Why? With formacation I didn't need
      an 'action' parameter when I made my pride map. What is different here?
Note: The top hidden button here catches a form submission when the user
      presses 'enter', rather than clicking the 'submit' button. Pressing
      enter is the same as pressing the first button in the HTML. It doesn't
      seem right: how can I create this without my hidden button? -->
      <form method='POST' action='/changeNote'>
            <input type='hidden' name='csrf_token' value='{{ csrf_token() }}'/>
            <button type='submit' style="display: none"></button>
            {% for note in notes %}
                <button type='submit' value='{{ note.id }}' name='del_note_id'>X</button>
                {{ note.note }} <br>
            {% endfor %}
            {{ form.note(autofocus=true) }}
            {{ form.submit }}
        </form><!-- End note template -->

    </div>

    <div id="heatMap">
        <header>
            <div id='test'>
                <div id="now_date_name"></div>
                <button id="previousDate">-</button>
                <span id="now_date"></span>
                <button id="nextDate">+</button>
                <hr>
            </div>
        </header>
        
        <div id='conent'>
            <form method='POST'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="selectedDate" value="x" id="serverDate"/>
                Math: 
                <button type='submit' formaction='/newp' value='1' name='math'>+</button>
                <button type='submit' formaction='/newp' value='0' name='math'>-</button>

                Prog:
                <button type='submit' formaction='/newp' value='1' name='programming'>+</button>
                <button type='submit' formaction='/newp' value='0' name='programming'>-</button>

                Excr:
                <button type='submit' formaction='/newp' value='1' name='exercise'>+</button>
                <button type='submit' formaction='/newp' value='0' name='exercise'>-</button>
            </form>
            {% for row in prides %}
                <br> {{ row }}
            {% endfor %}
        </div>

    </div>

    <div id="links">

        <h3>Khan Academy</h3>
        <h3>Edx</h3>
        <h3>Codewars</h3>
        <h3>Coursera</h3>

    </div>
<script src='static/pride.js'>

</script>
</body>
</html>