<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>canvas tests.</title>
    <link href="studyWeek.css" rel="stylesheet" />
</head>
<body>

	<div id="notes">
	    <header>
	    	<div id="flexy">
	    		<h1 id='title'>Notes</h1>
			<div id="flexy">
	    </header>
	</div>

	<div id="heatMap">
	    <header>
	    	<h1>Welcome to HTML5 Graphics</h1>
	    	<p>3.4: <em>Path drawing mode.</em></p>
	    </header>
	    
	    <div id='content'>
	    <div id="flexy">
	    	<h1 id="title">Rectangles</h1>
	    	<p id="log"><mark>consol.log:</mark> <span id="cons">this is a test.</span></p>
	    </div>

	    <div id="flexy">
	    	<h1 id="title">Rectangles</h1>
	    	<p id="log"><mark>consol.log:</mark> <span id="cons">this is a test.</span></p>
	    </div>
		</div>

	    <footer>I like this here because it helps me center my canvas exactly where I want it on my screen.</footer>
	</div>

	<div id="links">
	    <header>
	    	<div id="flexy">
	    		<h1 id='title'>Links</h1>
			<div id="flexy">
	    </header>
	</div>
</body>
</html>